/*si esto esta andando , se van los puntos del menu ppal. Y si lo borro se descentra el logo del camioncito
*{ 
    margin :0px;
    padding:0px;
    box-sizing: border-box;
}*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h2{
    
    font-size: 24px;
}
p{
    font-size: 16px;
}

.precios{
    font-size: 18px;
}

.burger-menu{
    margin-top: 30px;
}
header{
    background-color: #EAC926;
}
header img{
    max-width: 200px;
}


img{
    max-width: 300px;
    margin: auto;
    display: block;
}

.discount{
    color: #39b54a;
}
main{
    text-align: center;
    width: 90%;
    margin: auto;
    display: block;
    align-items: center
    
  
}
main section .item .description i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position:absolute;
    right: 20px;
    top: -15px;

}
.item{
    background-color: white;
    margin: 10px;
    padding: 15px;
}
.description{
    border-top: solid 1px #ebebeb;
    text-align: start;
    padding: 15px;
    position:relative;
    

}
form{
    text-align: left;
    display:block;
    padding-left: 20px;
    color: black;
    
    
    
}
.item-title{
    display: none;
}
nav{
    display: none;
}
footer{
    text-align: center;

}
.copyright{
    font-size: 12px;
}
#last-search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
@media screen and  (min-width: 576px) {
    .item-title{
        display: block;     
    }
    .item{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        flex-direction: row;
    }
    nav{
        display: block;
    }
   .burger-menu{
       display: none;
   }
   .main-header-top-bar {
    display: flex;
    justify-content: space-between;
    
    }
    .main-navbar {
    display: flex;
    justify-content: space-between;
    }
    .main-navbar ul{
    display: flex;
    }
    .main-navbar li{
    margin: 0 5px;
    }
    
    }

}
@media screen and (min-width: 768px){
    #last-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
   #sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



@media screen and (min-width: 1200px){
    #sale{
        display: flex;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;

    }
    #last-search{
        display: flex;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;

    }
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    
    }
    .compra_en_cuotas{
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .ofertas_ul{
       margin-top: 40px;
    }
    .ofertas_ul li{
        margin: 0 10px;
    }
    .ofertas_ul a{
        font-size: 19px;
    }
    
}
}